@page "/edit"
<h3>Component1</h3>
@inherits OwningComponentBase<CarsLandIntex.Data.ApplicationDbContext>
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@code {

}
