<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="Content-Security-Policy"
          content="base-uri 'self';
               block-all-mixed-content;
               default-src 'self' 'unsafe-inline';
               img-src data: https:;
               object-src 'none';
               script-src 'self' 'nonce-frick';
               style-src 'self' maxcdn.bootstrapcdn.com;";
               upgrade-insecure-requests;">

    <title>@ViewData["Title"] - CarsLandIntex</title>
    <link nonce="frick" href="~/css/site.css" rel="stylesheet" />
    <link nonce="frick" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--
    NEW STUFF BELOW
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link nonce="frick" rel="stylesheet" href="~/css/main.css" />
    <noscript><link nonce="frick" rel="stylesheet" href="~/css/noscript.css" /></noscript>
    <script nonce="frick">
        $(document).ready(function () {
            $('#nav-icon3').click(function () {
                $(this).toggleClass('open');
            });
        });</script>
</head>
<body class="is-preload">
    <header>
        <nav nonce="frick" style="z-index:10;" class="navbar navbar-expand-sm navbar-toggleable-sm main_buttons mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">CarsLandIntex</a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">*@
                @*<span class="navbar-toggler-icon"></span>*@
                <div id=pad-case>
                    <div class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation" id="nav-icon3">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    @*</button>*@
                    @*<div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>*@
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Template">Template</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Severity">Severity</a>
                            </li>
                        </ul>
                    </div>
                </div>
</nav>
    </header>
    <div class="container">
        <!--This enables the cookie consent notification-->
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CarsLandIntex - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script nonce="frick" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script nonce="frick" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script nonce="frick" src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    
</body>

</html >