@{
}
@model Crash
<div class="container-fluid">
    <form class="form">
        <div class="row">
            <div class="col-4 form-group">
                
            </div>
            <div class="col-4 form-group">
                
            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
            <div class="col-4 form-group">

            </div>
        </div>
    </form>
</div>