@{
    ViewData["Title"] = "Explore Data";
}

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <div id="header">
        <div class="logo">
            <i class="fa fa-car" aria-hidden="true" style="font-size: 2em;"></i>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Explore Crash Data</h1>
            </div>
        </div>
        
    </div>

   
    <div class="row">
        <div class="col-2">
            <h4>Filters</h4>
        </div>
        <div class="col">
            <h4>Crash Data</h4>
        </div>
    </div>
</div>


<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script nonce="MasonEmmaRyanLevi" src="~/js/jquery.min.js"></script>
<script nonce="MasonEmmaRyanLevi" src="~/js/browser.min.js"></script>
<script nonce="MasonEmmaRyanLevi" src="~/js/breakpoints.min.js"></script>
<script nonce="MasonEmmaRyanLevi" src="~/js/util.js"></script>
<script nonce="MasonEmmaRyanLevi" src="~/js/main.js"></script>







