@{
    ViewData["Title"] = "Home Page";
}
<!-- THIS IS OUR LANDING PAGE -->
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <div id="header">
        <div class="logo">
            <i class="fa fa-car i-font-size" aria-hidden="true"></i>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Utah Motor Accident Database</h1>
                <p>
                    The Utah Highway Safety Office reported there were 62,074 motor
                    vehicle crashes on public roadways in Utah, resulting in 25,645 injured persons and 260 deaths in 2018.
                    Utah has the goal of zero fatalities on Utah roads. This website is designed enlighten and educate
                    state legislators, UDOT exucutives, advocacy groups, and the general public. By working together we can reach
                    our goal.
                </p>
            </div>
        </div>
        <nav>
            <ul class="main_buttons">
                <li><a href="#1">Purpose</a></li>
                <li><a href="#work">UDOT</a></li>
                <li><a href="#elements">Support</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main -->
    <div id="main">

        <!-- PURPOSE FIRST BUTTON -->
        <article id="1">
            <h2 class="major">Purpose</h2>
            <p>Zero Fatalites is the only acceptable goal on Utah roads. We have taken the accident data
            from Utah roads and have displayed it on this website. Our purpose is to help Utah leaders
            and the public be more educated on the crashes happening in Utah. We focus on people. This
            website was created with the individual in mind. Each crash means that lives and people are 
            impacted. This website exists to bring awareness and safety to each person here in Utah.
            Together we can make Utah's roads a safer place for everyone.</p>
        </article>

        <!-- UDOT SECOND BUTTON-->
        <article id="work">
            <h2 class="major">UDOT</h2>
            @*<span class="image main"><img src="images/pic02.jpg" alt="" /></span>*@
            <p>The Utah Department of Transportation manages Utah's roads and highways. To learn more about
            UDOT go to their <a href="https://www.udot.utah.gov/connect/" target="_blank">website.</a></p>
        </article>

        <!-- Store THIRD BUTTON -->
        <article id="elements">
            <h2 class="major">Support</h2>
            <section>
                <p class="major">Many are affected by motor vehicle accidents.
                    Some people being the cause, and others being victims of
                    circumstance. Proceeds from shirt sales go to helping
                    those impacted by Utah accidents. Yes, they are real
                    shirts. And yes, their proceeds do really go to charity.
                    Don't YEET and drive. For that matter, just drive when you drive.
                </p>
                <div id="purchase">
                    <img nonce="frick" src="https://items-images-production.s3.us-west-2.amazonaws.com/files/86f00ea2a7bd151d5411c7c50fe3281b161b38f0/original.png" alt="Don't YEET and drive" onerror="this.style.display='none'">
                    <div id="purchase-inner">
                        <p>Don't YEET and drive</p>
                        <p>$20.00</p>
                        <a target="_blank" href="https://square.link/u/bSv5gwod?src=embed">Buy now</a>
                    </div>
                </div>
                <br />
                <div id="purchase">
                    <img src="~/images/DontYEET.png" alt="Don't YEET and drive" onerror="this.style.display='none'">
                    <div id="purchase-inner">
                        <p>Don't YEET and drive</p>
                        <p>$20.00</p>
                        <a target="_blank" href="https://square.link/u/bSv5gwod?src=embed">Buy now</a>
                    </div>
                </div>
                <br />
                <div id="purchase">
                    <img nonce="frick" src="https://items-images-production.s3.us-west-2.amazonaws.com/files/390f8cfe0bbddeb45ad58ddc38d4114ff3bd1595/original.png" alt="Brewmaster" onerror="this.style.display='none'">
                    <div id="purchase-inner">
                        <p>Rootkit Brewmaster</p>
                        <p>$25.00</p>
                        <a target="_blank" href="https://square.link/u/zlnOMIBO?src=embed">Buy now</a>
                    </div>
                </div>
            </section>
        </article>
    </div>
</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script nonce="frick" src="~/js/jquery.min.js"></script>
<script nonce="frick" src="~/js/browser.min.js"></script>
<script nonce="frick" src="~/js/breakpoints.min.js"></script>
<script nonce="frick" src="~/js/util.js"></script>
<script nonce="frick" src="~/js/main.js"></script>







