@{
    ViewData["Title"] = "Predictions";
}
@model CrashData

<form class="form" method="post" asp-controller="Home" asp-action="Score">

    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label>Was a Ped Involved?</label>
        <input type="radio" id="pedestrian_involved" name="pedestrian_involved" asp-for="pedestrian_involved" value="1">
        <label for="pedestrian_involved" asp-for="pedestrian_involved">Yes</label>
        <input type="radio" id="pedestrian_involved1" name="pedestrian_involved" asp-for="pedestrian_involved" value="0" checked="checked">
        <label for="pedestrian_involved1" asp-for="pedestrian_involved">No</label>
    </div>
    <div class="form-group">
        <label>Was a Cyclist Involved?</label>
        <input type="radio" id="bicyclist_involved" name="bicyclist_involved" asp-for="bicyclist_involved" value="1">
        <label for="bicyclist_involved" asp-for="bicyclist_involved">Yes</label>
        <input type="radio" id="bicyclist_involved1" name="bicyclist_involved" asp-for="bicyclist_involved" value="0" checked="checked">
        <label for="bicyclist_involved1" asp-for="bicyclist_involved">No</label>
    </div>
    <div class="form-group">
        <label>Was a motorcycle_involved Involved?</label>
        <input type="radio" id="motorcycle_involved" name="motorcycle_involved" asp-for="motorcycle_involved" value="1">
        <label for="motorcycle_involved" asp-for="motorcycle_involved">Yes</label>
        <input type="radio" id="motorcycle_involved1" name="motorcycle_involved" asp-for="motorcycle_involved" value="0" checked="checked">
        <label for="motorcycle_involved1" asp-for="motorcycle_involved">No</label>
    </div>
    <div class="form-group">
        <label>Was a  improper_restraint Involved?</label>
        <input type="radio" id="improper_restraint" name="improper_restraint" asp-for="improper_restraint" value="1">
        <label for="improper_restraint" asp-for="improper_restraint">Yes</label>
        <input type="radio" id="improper_restraint1" name="improper_restraint" asp-for="improper_restraint" value="0" checked="checked">
        <label for="improper_restraint1" asp-for="improper_restraint">No</label>
    </div>
    <div class="form-group">
        <label>Was a unrestrained Involved?</label>
        <input type="radio" id="unrestrained" name="unrestrained" asp-for="unrestrained" value="1">
        <label for="unrestrained" asp-for="unrestrained">Yes</label>
        <input type="radio" id="unrestrained1" name="unrestrained" asp-for="unrestrained" value="0" checked="checked">
        <label for="unrestrained1" asp-for="unrestrained">No</label>
    </div>
    <div class="form-group">
        <label>Was a dui Involved?</label>
        <input type="radio" id="dui" name="dui" asp-for="dui" value="1">
        <label for="dui" asp-for="dui">Yes</label>
        <input type="radio" id="dui1" name="dui" asp-for="dui" value="0" checked="checked">
        <label for="dui1" asp-for="dui">No</label>
    </div>
    <div class="form-group">
        <label>Was a intersection_related Involved?</label>
        <input type="radio" id="intersection_related" name="intersection_related" asp-for="intersection_related" value="1">
        <label for="intersection_related" asp-for="intersection_related">Yes</label>
        <input type="radio" id="intersection_related1" name="intersection_related" asp-for="intersection_related" value="0" checked="checked">
        <label for="intersection_related1" asp-for="intersection_related">No</label>
    </div>
    <div class="form-group">
        <label>Was a overturn_rollover Involved?</label>
        <input type="radio" id="overturn_rollover" name="overturn_rollover" asp-for="overturn_rollover" value="1">
        <label for="overturn_rollover" asp-for="overturn_rollover">Yes</label>
        <input type="radio" id="overturn_rollover1" name="overturn_rollover" asp-for="overturn_rollover" value="0" checked="checked">
        <label for="overturn_rollover1" asp-for="overturn_rollover">No</label>
    </div>
    <div class="form-group">
        <label>Was a older_driver_involved Involved?</label>
        <input type="radio" id="older_driver_involved" name="older_driver_involved" asp-for="older_driver_involved" value="1">
        <label for="older_driver_involved" asp-for="older_driver_involved">Yes</label>
        <input type="radio" id="older_driver_involved1" name="older_driver_involved" asp-for="older_driver_involved" value="0" checked="checked">
        <label for="older_driver_involved1" asp-for="older_driver_involved">No</label>
    </div>
    <div class="form-group">
        <label>Was a single_vehicle Involved?</label>
        <input type="radio" id="single_vehicle" name="single_vehicle" asp-for="single_vehicle" value="1">
        <label for="single_vehicle" asp-for="single_vehicle">Yes</label>
        <input type="radio" id="single_vehicle1" name="single_vehicle" asp-for="single_vehicle" value="0" checked="checked">
        <label for="single_vehicle1" asp-for="single_vehicle">No</label>
    </div>

    <div class="form-group">
        <label>Was a distracted_driving Involved?</label>
        <input type="radio" id="distracted_driving" name="distracted_driving" asp-for="distracted_driving" value="1">
        <label for="distracted_driving" asp-for="distracted_driving">Yes</label>
        <input type="radio" id="distracted_driving1" name="distracted_driving" asp-for="distracted_driving" value="0" checked="checked">
        <label for="distracted_driving1" asp-for="distracted_driving">No</label>
    </div>
    <div class="form-group">
        <label>Was a drowsy_driving Involved?</label>
        <input type="radio" id="drowsy_driving" name="drowsy_driving" asp-for="drowsy_driving" value="1">
        <label for="drowsy_driving" asp-for="drowsy_driving">Yes</label>
        <input type="radio" id="drowsy_driving1" name="drowsy_driving" asp-for="drowsy_driving" value="0" checked="checked">
        <label for="drowsy_driving1" asp-for="drowsy_driving">No</label>
    </div>
    <div class="form-group">
        <label>Was a roadway_departure Involved?</label>
        <input type="radio" id="roadway_departure" name="roadway_departure" asp-for="roadway_departure" value="1">
        <label for="roadway_departure" asp-for="roadway_departure">Yes</label>
        <input type="radio" id="roadway_departure1" name="roadway_departure" asp-for="roadway_departure" value="0" checked="checked">
        <label for="roadway_departure1" asp-for="roadway_departure">No</label>
    </div>
    <div class="form-group">
        <label asp-for="month">Month?</label>
        <select class="form-control" asp-for="month">
            <option value=1>JANUARY</option>
            <option value=2>FEBRUARY</option>
            <option value=3>MARCH</option>
            <option value=4>APRIL</option>
            <option value=5>MAY</option>
            <option value=6>JUNE</option>
            <option value=7>JULY</option>
            <option value=8>AUGUST</option>
            <option value=9>SEPTEMBER</option>
            <option value=10>OCTOBER</option>
            <option value=11>NOVEMBER</option>
            <option value=12>DECEMBER</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="hour">hour?</label>
        <input class="form-control" type="number" min="0" max="23" asp-for="hour" />
    </div>
    <div class="form-group">
        <label asp-for="minute">Minute</label>
        <input class="form-control" type="number" min="0" max="59" asp-for="minute" />
    </div>
    <div class="form-group">
        <label asp-for="weekday">Weekday</label>
        <select class="form-control" asp-for="weekday">
            <option value="weekday_Saturday">SATURDAY</option>
            <option value="weekday_Sunday">SUNDAY</option>
            <option value="other">NON-WEEKEND</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="county">County</label>
        <select class="form-control" asp-for="county">
            <option value="county_name_TOOELE">TOOELE</option>
            <option value="county_name_WASHINGTON">WASHINGTON</option>
            <option value="county_name_WEBER">WEBER</option>
            <option value="other">OTHER</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="city">City</label>
        <select class="form-control" asp-for="city">
            <option value="city_AMERICAN_FORK">AMERICAN FORK</option>
            <option value="city_BLUE_CREEK">BLUE CREEK</option>
            <option value="city_BOULDER">BOULDER</option>
            <option value="city_EMORY">EMORY</option>
            <option value="city_GARDEN_CITY">GARDEN CITY</option>
            <option value="city_GREEN_RIVER">GREEN RIVER</option>
            <option value="city_HARRISVILLE">HARRISVILLE</option>
            <option value="city_HIGHLAND">HIGHLAND</option>
            <option value="city_HOLDEN">HOLDEN</option>
            <option value="city_HURRICANE">HURRICANE</option>
            <option value="city_LA_VERKIN">LA VERKIN</option>
            <option value="city_LAYTON">LAYTON</option>
            <option value="city_LYNN">LYNN</option>
            <option value="city_MAPLETON">MAPLETON</option>
            <option value="city_MOSIDA">MOSIDA</option>
            <option value="city_MOUNT_PLEASANT">MOUNT PLEASANT</option>
            <option value="city_OGDEN">OGDEN</option>
            <option value="city_OUTSIDE_CITY_LIMITS">OUTSIDE CITY LIMITS</option>
            <option value="city_PROVO">PROVO</option>
            <option value="city_ROY">ROY</option>
            <option value="city_SALT_LAKE_CITY">SALT LAKE CITY</option>
            <option value="city_SOUTH_OGDEN">SOUTH OGDEN</option>
            <option value="city_SPANISH_FORK">SPANISH FORK</option>
            <option value="city_ST_GEORGE"> ST GEORGE</option>
            <option value="city_SYRACUSE">SYRACUSE</option>
            <option value="city_THOMPSON">THOMPSON</option>
            <option value="city_VIVIAN_PARK">VIVIAN PARK</option>
            <option value="city_WEST_JORDAN">WEST JORDAN</option>
            <option value="city_WANSHIP">WANSHIP</option>
            <option value="other">OTHER CITY</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">submit</button>
</form>