@{
    ViewData["Title"] = "Predictions";
}
@model CrashData

<!--This page contains our machine learning calculator-->
<div id="wrapper">

    <!-- Header -->
    <div id="header">
        <div class="logo">
            <i class="fa fa-car i-font-size" aria-hidden="true"></i>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Predictions and Trends</h1>
                <p>
                    We designed a machine learning model to help identify issues and trends in car accidents to aid with 
                    decision making. We have also implemented Tableau visualizations to view more trends!
                </p>
            </div>
        </div>
        <nav>
            <ul class="main_buttons">
                <li><a href="#severity">Severity Prediction</a></li>
                <li><a href="#result">Prediction Results</a></li>
                <li><a href="#about">Trends</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main -->
    <div id="main">
        <!-- Intro -->
        <!-- The First button contains the form for the Severity Prediction-->
        <article id="severity">
            <h2 class="major">Severity Prediction</h2>
            <h4>Predict how severe a car accident will be based on the below conditions</h4>
            <form class="form" method="post" asp-controller="Home" asp-action="Score">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label>Was a pedestrian involved?</label>
                    <input type="radio" id="pedestrian_involved" name="pedestrian_involved" asp-for="pedestrian_involved" value="1">
                    <label for="pedestrian_involved" asp-for="pedestrian_involved">Yes</label>
                    <input type="radio" id="pedestrian_involved1" name="pedestrian_involved" asp-for="pedestrian_involved" value="0" checked="checked">
                    <label for="pedestrian_involved1" asp-for="pedestrian_involved">No</label>
                </div>
                <div class="form-group">
                    <label>Was a cyclist involved?</label>
                    <input type="radio" id="bicyclist_involved" name="bicyclist_involved" asp-for="bicyclist_involved" value="1">
                    <label for="bicyclist_involved" asp-for="bicyclist_involved">Yes</label>
                    <input type="radio" id="bicyclist_involved1" name="bicyclist_involved" asp-for="bicyclist_involved" value="0" checked="checked">
                    <label for="bicyclist_involved1" asp-for="bicyclist_involved">No</label>
                </div>
                <div class="form-group">
                    <label>Was a motorcycle involved?</label>
                    <input type="radio" id="motorcycle_involved" name="motorcycle_involved" asp-for="motorcycle_involved" value="1">
                    <label for="motorcycle_involved" asp-for="motorcycle_involved">Yes</label>
                    <input type="radio" id="motorcycle_involved1" name="motorcycle_involved" asp-for="motorcycle_involved" value="0" checked="checked">
                    <label for="motorcycle_involved1" asp-for="motorcycle_involved">No</label>
                </div>
                <div class="form-group">
                    <label>Was a person improperly wearing a seatbelt?</label>
                    <input type="radio" id="improper_restraint" name="improper_restraint" asp-for="improper_restraint" value="1">
                    <label for="improper_restraint" asp-for="improper_restraint">Yes</label>
                    <input type="radio" id="improper_restraint1" name="improper_restraint" asp-for="improper_restraint" value="0" checked="checked">
                    <label for="improper_restraint1" asp-for="improper_restraint">No</label>
                </div>
                <div class="form-group">
                    <label>Was a person not wearing a seatbelt?</label>
                    <input type="radio" id="unrestrained" name="unrestrained" asp-for="unrestrained" value="1">
                    <label for="unrestrained" asp-for="unrestrained">Yes</label>
                    <input type="radio" id="unrestrained1" name="unrestrained" asp-for="unrestrained" value="0" checked="checked">
                    <label for="unrestrained1" asp-for="unrestrained">No</label>
                </div>
                <div class="form-group">
                    <label>Was the driver under the influence?</label>
                    <input type="radio" id="dui" name="dui" asp-for="dui" value="1">
                    <label for="dui" asp-for="dui">Yes</label>
                    <input type="radio" id="dui1" name="dui" asp-for="dui" value="0" checked="checked">
                    <label for="dui1" asp-for="dui">No</label>
                </div>
                <div class="form-group">
                    <label>Was the incident related to an intersection?</label>
                    <input type="radio" id="intersection_related" name="intersection_related" asp-for="intersection_related" value="1">
                    <label for="intersection_related" asp-for="intersection_related">Yes</label>
                    <input type="radio" id="intersection_related1" name="intersection_related" asp-for="intersection_related" value="0" checked="checked">
                    <label for="intersection_related1" asp-for="intersection_related">No</label>
                </div>
                <div class="form-group">
                    <label>Did the vehicle overturn or rollover?</label>
                    <input type="radio" id="overturn_rollover" name="overturn_rollover" asp-for="overturn_rollover" value="1">
                    <label for="overturn_rollover" asp-for="overturn_rollover">Yes</label>
                    <input type="radio" id="overturn_rollover1" name="overturn_rollover" asp-for="overturn_rollover" value="0" checked="checked">
                    <label for="overturn_rollover1" asp-for="overturn_rollover">No</label>
                </div>
                <div class="form-group">
                    <label>Was a driver older than 64 involved?</label>
                    <input type="radio" id="older_driver_involved" name="older_driver_involved" asp-for="older_driver_involved" value="1">
                    <label for="older_driver_involved" asp-for="older_driver_involved">Yes</label>
                    <input type="radio" id="older_driver_involved1" name="older_driver_involved" asp-for="older_driver_involved" value="0" checked="checked">
                    <label for="older_driver_involved1" asp-for="older_driver_involved">No</label>
                </div>
                <div class="form-group">
                    <label>Was only a single vehicle involved?</label>
                    <input type="radio" id="single_vehicle" name="single_vehicle" asp-for="single_vehicle" value="1">
                    <label for="single_vehicle" asp-for="single_vehicle">Yes</label>
                    <input type="radio" id="single_vehicle1" name="single_vehicle" asp-for="single_vehicle" value="0" checked="checked">
                    <label for="single_vehicle1" asp-for="single_vehicle">No</label>
                </div>
                <div class="form-group">
                    <label>Was the driver distracted?</label>
                    <input type="radio" id="distracted_driving" name="distracted_driving" asp-for="distracted_driving" value="1">
                    <label for="distracted_driving" asp-for="distracted_driving">Yes</label>
                    <input type="radio" id="distracted_driving1" name="distracted_driving" asp-for="distracted_driving" value="0" checked="checked">
                    <label for="distracted_driving1" asp-for="distracted_driving">No</label>
                </div>
                <div class="form-group">
                    <label>Was the driver drowsy?</label>
                    <input type="radio" id="drowsy_driving" name="drowsy_driving" asp-for="drowsy_driving" value="1">
                    <label for="drowsy_driving" asp-for="drowsy_driving">Yes</label>
                    <input type="radio" id="drowsy_driving1" name="drowsy_driving" asp-for="drowsy_driving" value="0" checked="checked">
                    <label for="drowsy_driving1" asp-for="drowsy_driving">No</label>
                </div>
                <div class="form-group">
                    <label>Did a vehicle depart the roadway?</label>
                    <input type="radio" id="roadway_departure" name="roadway_departure" asp-for="roadway_departure" value="1">
                    <label for="roadway_departure" asp-for="roadway_departure">Yes</label>
                    <input type="radio" id="roadway_departure1" name="roadway_departure" asp-for="roadway_departure" value="0" checked="checked">
                    <label for="roadway_departure1" asp-for="roadway_departure">No</label>
                </div>
                <div class="form-group">
                    <label asp-for="month">Which month did this incident occur?</label>
                    <select class="form-control" asp-for="month">
                        <option value=1>January</option>
                        <option value=2>Febuary</option>
                        <option value=3>March</option>
                        <option value=4>April</option>
                        <option value=5>May</option>
                        <option value=6>June</option>
                        <option value=7>July</option>
                        <option value=8>August</option>
                        <option value=9>September</option>
                        <option value=10>October</option>
                        <option value=11>November</option>
                        <option value=12>December</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="hour">Which hour did this incident occur?</label>
                    <input class="form-control" asp-for="hour" min="0" max="23" required/>
                </div>
                <div class="form-group">
                    <label asp-for="minute">Which minute did this incident occur?</label>
                    <input class="form-control" asp-for="minute" min="0" max="59" required/>
                </div>
                <div class="form-group">
                    <label asp-for="weekday">Which day of the week did this incident occur?</label>
                    <select class="form-control" asp-for="weekday">
                        <option value="weekday_Saturday">SATURDAY</option>
                        <option value="weekday_Sunday">SUNDAY</option>
                        <option value="other">NON-WEEKEND</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="county">Which county did this incident occur in?</label>
                    <select class="form-control" asp-for="county">
                        <option value="county_name_TOOELE">TOOELE</option>
                        <option value="county_name_WASHINGTON">WASHINGTON</option>
                        <option value="county_name_WEBER">WEBER</option>
                        <option value="other">OTHER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="city">Which city did this incident occur in?</label>
                    <select class="form-control" asp-for="city">
                        <option value="city_AMERICAN_FORK">AMERICAN FORK</option>
                        <option value="city_BLUE_CREEK">BLUE CREEK</option>
                        <option value="city_BOULDER">BOULDER</option>
                        <option value="city_EMORY">EMORY</option>
                        <option value="city_GARDEN_CITY">GARDEN CITY</option>
                        <option value="city_GREEN_RIVER">GREEN RIVER</option>
                        <option value="city_HARRISVILLE">HARRISVILLE</option>
                        <option value="city_HIGHLAND">HIGHLAND</option>
                        <option value="city_HOLDEN">HOLDEN</option>
                        <option value="city_HURRICANE">HURRICANE</option>
                        <option value="city_LA_VERKIN">LA VERKIN</option>
                        <option value="city_LAYTON">LAYTON</option>
                        <option value="city_LYNN">LYNN</option>
                        <option value="city_MAPLETON">MAPLETON</option>
                        <option value="city_MOSIDA">MOSIDA</option>
                        <option value="city_MOUNT_PLEASANT">MOUNT PLEASANT</option>
                        <option value="city_OGDEN">OGDEN</option>
                        <option value="city_OUTSIDE_CITY_LIMITS">OUTSIDE CITY LIMITS</option>
                        <option value="city_PROVO">PROVO</option>
                        <option value="city_ROY">Roy</option>
                        <option value="city_SALT_LAKE_CITY">SALT LAKE CITY</option>
                        <option value="city_SOUTH_OGDEN">SOUTH OGDEN</option>
                        <option value="city_SPANISH_FORK">SPANISH FORK</option>
                        <option value="city_ST_GEORGE">ST. GEORGE</option>
                        <option value="city_SYRACUSE">SYRACUSE</option>
                        <option value="city_THOMPSON">THOMPSON</option>
                        <option value="city_VIVIAN_PARK">VIVIAN PARK</option>
                        <option value="city_WEST_JORDAN">WEST JORDAN</option>
                        <option value="city_WANSHIP">WANSHIP</option>
                        <option value="other">OTHER</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-lg">Predict Severity</button>
            </form>
        </article>

        <!-- Work -->
        <article id="result">
            <h2 class="major">Severity Result</h2>
            <h4>Results will be one of the following: </h4>
            <ul>
                <li>1: No Injury</li>
                <li>2: Possible Injury</li>
                <li>3: Suspected Minor Injury</li>
                <li>4: Suspected Serious Injury</li>
                <li>5: Fatal</li>
            </ul>
            @if (ViewBag.predictions == null)
            {
                <h4></h4>
            }
            else
            {
                <h4>Predicted Severity is Level @ViewBag.predictions.PredictedValue</h4>
            }

        </article>

        <!-- Tableau -->
        <article id="contact">
            <h2 class="major">Tableau Crash Heatmap</h2>
            <span class="image main"><img src="images/Background.jpg" alt="" /></span>
            <div z-index="20" class='tableauPlaceholder' id='viz1649184524181' style='position: relative'><noscript><a href='#'><img alt='Density ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ut&#47;UtahCarCrashesbyLocation&#47;Density&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='UtahCarCrashesbyLocation&#47;Density' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ut&#47;UtahCarCrashesbyLocation&#47;Density&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>
            <script type='text/javascript'>var divElement = document.getElementById('viz1649184524181'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Severity">View More Visualizations</a>
        </article>
    </div>
</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script nonce="frick" src="~/js/jquery.min.js"></script>
<script nonce="frick" src="~/js/browser.min.js"></script>
<script nonce="frick" src="~/js/breakpoints.min.js"></script>
<script nonce="frick" src="~/js/util.js"></script>
<script nonce="frick" src="~/js/main.js"></script>

